@use '../../variables' as v;
@use '../../mixins/global-mixin' as *;

.main-page {
  @include useFlexbox(column, $jt: 0, $al: 0);
  flex: 1 1 auto;
  background-color: #fffdfd;
  overflow: hidden;
  position: relative;
}

.main-content {
  @include useFlexbox(column, $jt: 0, $al: center);
  padding: 1rem;
  min-width: 280px;
}

.main-content-root {
  overflow: auto;
  @include useSquareSize(100%);

  scroll-behavior: smooth;
  scrollbar-darkshadow-color: rgb(217, 236, 236);
  scrollbar-color: lighten(v.$primary_color, 15%) lighten(v.$primary_color, 55%);
  scrollbar-base-color: red;

  :is(&, & *)::-webkit-scrollbar {
    width: 5px;
    background-color: lighten(v.$primary_color, 51%);
    border: 1px solid lighten(v.$primary_color, 47%);
  }

  :is(&, & *)::-webkit-scrollbar-thumb {
    background: darken(v.$primary_color, 11%);
  }
}
