*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

.root {
  display: flex;
  align-items: stretch;
  height: 100%;
  background-color: #f9feff;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}
.root ::selection {
  background-color: #00209edb;
  color: #fff;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
}

.btn {
  padding: 0.4rem;
  width: max-content;
  border-radius: 0.2rem;
}
.btn-primary {
  background-color: #0026a5;
  border: none;
  color: #e9e9e9;
  box-shadow: 0 0 0.1rem 0.01rem #0026a5;
}

.left-side {
  position: absolute;
  overflow: hidden;
  height: 100%;
  background-color: #f4fdff;
  padding-block: 0.2rem;
  flex-basis: 280px;
  flex-shrink: 0;
  border-inline-end: 1px solid #e6e6e6;
  transition: transform 0.5s cubic-bezier(1, 0.68, 0, 1.1) 50ms;
  transform: translate(-100%);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}
.left-side__header {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.left-side__site-logo-link, .left-side__left-side-title, .left-side__site-nav-link {
  padding-inline: 1.5rem;
}
.left-side__username-wrap, .left-side__site-logo-link {
  padding-block: 1.5rem;
}
.left-side__site-logo-link {
  position: relative;
  display: inline-flex;
  padding-block-end: 0;
}
.left-side__user-profil-link {
  font-size: 0.988rem;
  border-radius: 0.5rem;
  background-color: #0026a512;
  color: #2b2b2b;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 5px;
  padding: 0.99rem;
}
.left-side__img-profil-wrapper {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
}
.left-side__userprofil-pic {
  background-color: #0026a533;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.site-nav__list {
  list-style-type: none;
}
.site-nav__link {
  display: flex;
  padding: 0.3rem 3rem;
  padding-block: 0.8rem;
  color: #4b4b4b;
  position: relative;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  gap: 1rem;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 3rem;
}
.site-nav__link:hover {
  background-color: #0026a511;
}
.site-nav__active-tab {
  color: #0026a5;
  border-color: transparent;
  background-color: #0026a51c;
}
.site-nav__active-tab::after {
  display: block;
  position: absolute;
  content: "";
  background-color: #0026a5;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.23rem;
  border-top-left-radius: 0.255rem;
  border-bottom-left-radius: 0.255rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.top-navbar__btn, .top-navbar {
  padding: 0.5rem;
}

.main-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #fffdfd;
  overflow: hidden;
}
.main-page__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0026a505;
}

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
}
.top-navbar__btn {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #292929e3;
  border-radius: 50%;
  border-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.33rem;
  background-color: transparent;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.top-navbar__btn:hover {
  background-color: rgba(0, 38, 165, 0.1);
}

.profil-btn {
  width: 3.2rem;
  height: 3.2rem;
  position: relative;
  padding: 0;
  background-color: rgba(0, 38, 165, 0.1);
}

.lang-flag {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}

.lang-btn {
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 0.88rem;
}

.lang-drop-down {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6rem;
  z-index: 100;
  background-color: rgba(0, 38, 165, 0.53);
}

.lang-item, .lang-list {
  border-radius: 0.4375rem;
  display: flex;
  width: 100%;
}

.lang-list {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.4);
  flex-direction: column;
  background-color: #e6e6e6;
  list-style-type: none;
}

.lang-item {
  gap: 0.5rem;
  flex: 1;
  padding: 0.2rem;
}
.lang-item:hover, .lang-item:focus {
  background-color: rgba(0, 38, 165, 0.13);
}

.main-content-root {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.burger-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.burger-menu__label {
  position: relative;
  display: block;
  width: 3em;
  padding-left: 0.3em;
  cursor: pointer;
}
.burger-menu__label::before, .burger-menu__label::after {
  display: block;
  height: 4px;
  background-color: #0026a5;
  transition: transform 0.5s ease-in-out;
  content: "";
}
.burger-menu__label::before {
  box-shadow: 0 10px 0 #001044;
}
.burger-menu__label:hover::before, .burger-menu__label:hover::after, .burger-menu__label:focus::before, .burger-menu__label:focus::after {
  background-color: #001044;
}
.burger-menu__label:hover::before {
  box-shadow: 0 10px 0 #0026a5;
}

.burger-menu__checkbox {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: -1;
  opacity: 0;
}
.burger-menu__checkbox:not(:checked) + .burger-menu__label::before {
  margin-bottom: 1em;
}
.burger-menu__checkbox:checked + .burger-menu__label::before {
  box-shadow: none;
  transform: translateY(0.1rem) rotate(495deg);
}
.burger-menu__checkbox:checked + .burger-menu__label::after {
  transform: translateY(-0.1rem) rotate(-495deg);
}

.user-picture-img, .user-profil-thumb {
  border-radius: 50%;
  object-fit: contain;
}

.action-logout, .user-menu-card {
  border-radius: 0.6rem;
}

.user-figure, .user-menu-card {
  z-index: 100;
}

.action-logout, .user-name {
  text-align: center;
}

.user-profil-thumb {
  width: 100%;
  height: 100%;
  border: 1px solid #b5c2c2;
}

.action-item-link, .user-menu-card {
  background-color: #f2f5ff;
}

.user-menu-card {
  position: absolute;
  top: calc(100% + 0.6rem);
  right: 0;
  display: flex;
  flex-direction: column;
  width: 10rem;
  cursor: auto;
  min-width: 5rem;
  border: 1px solid rgba(14, 14, 14, 0.438);
  color: #0c0c0c;
  box-shadow: 0 0 5px #223344;
  font-size: 1rem;
  font-weight: 600;
}

.user-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.6rem;
  height: 7.6rem;
  flex: 1;
  padding-block: 0.4rem;
}
.user-picture-img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.user-name {
  display: block;
  padding-block-start: 0.5rem;
  padding-inline: 0.2rem;
  background-color: rgba(0, 20, 89, 0.2);
  font-weight: bold;
  width: 100%;
  border-block-end: 3px solid rgba(0, 26, 114, 0.6);
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  list-style-type: none;
  border-radius: 0 0 0.65rem 0.65rem;
  padding-block-start: 0.5rem;
}
.action-item {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.action-item-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.26em 0.5rem;
  text-decoration: none;
  text-align: start;
  color: #000b33;
}
.action-item-link:hover {
  background-color: #d0dafff8;
}
.action-logout {
  width: 90%;
  margin-block: 0.4rem 0.5rem;
  border: 1px solid #3f4d5e;
  align-self: center;
  justify-content: center;
}
.action-logout:hover {
  background-color: #faffbf;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.3rem;
  background-color: rgba(0, 38, 165, 0.05);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.888rem;
  color: #344;
}
.breadcrumb__path {
  display: flex;
}
.breadcrumb__path:not(.active)::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: ">";
  padding-inline: 0.5rem;
}

.candidate-cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1 1 100%;
}

.candidate-figure__picture, .candidate-card__figure, .candidate-card {
  border-radius: 0.6rem;
}

.info-indicator, .info-indicator-wrapper {
  background-color: transparent;
}

.candidate-figure__picture, .candidate-card__more-details {
  width: 100%;
  height: 100%;
}

.candidate-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 1.28rem;
  color: #222325;
  width: 15rem;
  flex: 0 0 15rem;
  background-color: #f5f7ff;
  border: 1px solid rgba(0, 38, 165, 0.2);
  box-shadow: 0 0 0.1rem 0.01rem rgba(0, 38, 165, 0.5);
  padding-block-end: 0.5rem;
}
.candidate-card__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  flex: 1 0 100%;
}
.candidate-card__more-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 38, 165, 0.15);
  display: none;
  z-index: 11;
}
.more-details-btn {
  display: block;
  padding: 0.5rem 0.7rem;
  background-color: rgba(0, 38, 165, 0.1);
  background-image: linear-gradient(45deg, rgba(0, 22, 56, 0.5), #001638 50%, rgba(0, 22, 56, 0.5));
  border: none;
  box-shadow: 0 0 0.5rem 0.01rem #000824f5;
  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  font-family: "Public Sans", sans-serif;
}

.info-indicator-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.info-indicator {
  position: relative;
  top: 0.3rem;
  right: 0.3rem;
  color: #464646b1;
  border: none;
  font-size: 1.2rem;
}

.candidate-card:is(:hover, :focus) {
  box-shadow: 0 0 0.2rem 0.05rem #0026a5;
}
.candidate-card:is(:hover, :focus) .candidate-card__more-details {
  display: flex;
}
.candidate-card:is(:hover, :focus) .info-indicator {
  color: #111111;
}

.candidate-figure__top-details {
  width: 13.875rem;
  height: 14.375rem;
  position: relative;
}
.candidate-figure__picture {
  object-fit: cover;
}

.candidate-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-block-end: 1px solid #7e7c7c;
}
.candidate-description__skills {
  max-width: 13rem;
  font-size: 0.8rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.vote-btn {
  border: none;
  align-self: center;
}

.candidate-full-details, .candidate-modal-profile__picture, .candidate-modal {
  border-radius: 0.5rem;
}

.candidate-modal__close-btn, .candidate-modal {
  padding: 1rem;
}

.candidate-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  transition: background-color 0.01s ease;
  background-color: rgba(0, 32, 140, 0.39);
}

.candidate-modal {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
  width: 90%;
  background-color: #e8fcff;
  color: #121313;
  overflow: auto;
}
.candidate-modal__close-btn {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  box-shadow: 0 0 0.3rem 0.01rem rgba(0, 38, 165, 0.3);
  border: none;
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: #a9c7ffdb;
  color: #212121;
}
.candidate-modal__close-btn:hover {
  color: white;
  background-color: #00a573;
}

.candidate-modal-profile {
  max-width: 20rem;
  max-height: 25rem;
}
.candidate-modal-profile__picture {
  box-shadow: 0 0 0.26rem 0.01rem rgba(0, 38, 165, 0.7);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.candidate-full-details {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.26rem 0.01rem rgba(0, 38, 165, 0.3);
  padding: 0.5rem;
  gap: 0.6rem;
  text-align: center;
  background-color: rgba(0, 38, 165, 0.15);
  line-height: 1.3rem;
}
.candidate-full-details__name {
  font-size: 1.5rem;
}
.candidate-full-details__skills {
  font-size: 0.729rem;
  color: #272830f5;
}
.candidate-full-details__bio {
  text-align: justify;
}

.hidden {
  display: none;
}

.prevent-scroll {
  overflow: hidden;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
