@use './common' as *;

.checkbox-switcher {
  @extend %useCheckboxContainer;
}

.label-switch {
  @extend %label-element;
  &--txt {
    color: #333;
  }
}

.switch {
  @include useFlexbox(none);
  width: 2.5rem;
}

// .slider {
//   @include useFlexbox(none, none, center);
//   flex-basis: 100%;
//   border-radius: 1rem;
//   height: 1.3rem;
//   background-color: lighten($secondary_color, 100%);
//   box-shadow: 0 0 0.325rem 2px inset rgb(211, 209, 209);
//   border: 1px solid rgba(#333, 25%);
//   transition: all 0.2s ease-in-out;
//   background-color: rgb(231, 233, 235);

//   &::before {
//     content: '';
//     @include useFlexbox(none, none, center);
//     @include useSquareSize(1rem);
//     position: relative;
//     border-radius: 50%;
//     transition: all 0.1s ease-in-out;
//     box-shadow: 0 0 0.125rem 1px rgb(116, 107, 107);
//     background-color: rgb(170, 166, 166) /* darken($primary_color, 25%) */;
//   }
// }

.slider {
  @extend %slider-element-disabled;
}

.checkbox-slider:checked + .slider {
  background-color: lighten($secondary_color, 40%);
}

.checkbox-slider:checked + .slider::before {
  content: '';
  @include useFlexbox(none, none, center);
  transform: translateX(1.3rem);
  background-color: lighten($secondary_color, 10%);
  box-shadow: 0 0 0.1rem 1px lighten(adjust-hue($secondary_color, 10deg), 3%);
}
