@mixin usePosition(
  $position: relative,
  $top: none,
  $left: none,
  $right: none,
  $bottom: none
) {
  position: $position;
  @if $top != none {
    top: $top;
  }
  @if $left != none {
    left: $left;
  }
  @if $right != none {
    right: $right;
  }
  @if $bottom != none {
    bottom: $bottom;
  }
}

@mixin useSquareSize($size) {
  width: $size;
  height: $size;
}

@mixin useFlexBox($direction: none, $justify: none, $align: none) {
  display: flex;
  @if $direction != none {
    flex-direction: $direction;
  }
  @if $justify != none {
    justify-content: $justify;
  }
  @if $align != none {
    align-items: $align;
  }
}

@mixin useGrid(
  $ncols: 1,
  $nrows: 1,
  $jt_tems: none,
  $al_items: none,
  $gap: none
) {
  display: grid;
  grid-template-columns: repeat($ncols, 1fr);
  grid-template-rows: repeat($nrows, 1fr);

  @if ($jt_tems != none) {
    justify-items: $jt_tems;
  }
  @if ($al_items != none) {
    align-items: $al_items;
  }
  @if ($gap != none) {
    gap: $gap;
  }
}
$primary_color: rgb(0, 104, 52);

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.preloader {
  @include useSquareSize(100%);
  @include usePosition(fixed, 0);
  @include useFlexBox(row, center, center);
  z-index: 99999;
  background: #ffa;
}

.loader {
  @include useGrid(1, 2, center, center, $gap: 0);
  @include usePosition;
  text-align: center;
  height: 7rem;
  width: 10rem;
  background-color: #ffffff;
  box-shadow: 0 0 0.925rem 0.9px rgb(255, 214, 164);
  overflow: visible;
  border-radius: 0.825rem;

  &__figure {
    @include useSquareSize(5rem);
    align-self: flex-end;
    border: 0 solid $primary_color;
    box-shadow: 0 0 0.5rem 0.0125rem inset rgb(43, 255, 0);
    border-radius: 50%;
    animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: width 0.15s ease-in-out;
  }

  &__label {
    width: 100%;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    line-height: 2.5em;
    color: $primary_color;
    white-space: nowrap;
    animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@keyframes loader-figure {
  0% {
    @include useSquareSize(0);
    background-color: $primary_color;
  }
  29% {
    background-color: $primary_color;
  }
  30% {
    @include useSquareSize(2rem);
    border-width: 1em;
    opacity: 1;
    background-color: transparent;
  }
  100% {
    @include useSquareSize(2.5rem);
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

@keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
