@use '../../../mixins/global-mixin' as *;
@use '../../../variables' as v;

.candidate-cards-wrapper {
  @include useFlexbox();
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1 1 100%;
}

%radius-6rem {
  border-radius: 0.6rem;
}

%full-size {
  @include useSquareSize(100%);
}

.candidate-card {
  @include useFlexbox(column, $al: center, $jt: none, $inline: 1);
  @extend %radius-6rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 1.28rem;
  color: #222325;
  width: 15rem;
  flex: 0 0 15rem;
  background-color: #f5f7ff;
  border: 1px solid rgba(v.$primary_color, 0.2);
  box-shadow: 0 0 0.1rem 0.01rem rgba(v.$primary_color, 0.5);
  padding-block-end: 0.5rem;

  &__figure {
    @include useFlexbox(column, center, none);
    padding: 0.5rem;
    @extend %radius-6rem;
    flex: 1 0 100%;
  }

  &__more-details {
    @include useFlexbox(column);
    @include usePosition(absolute, $top: 0, $left: 0);
    @extend %full-size;
    background-color: rgba(v.$primary_color, 0.1);
    display: none;
    z-index: 11;
  }

  @include useInfoIndicator;

  &:is(:hover, :focus) {
    box-shadow: 0 0 0.2rem 0.05rem v.$primary_color;
    .candidate-card__more-details {
      display: flex;
    }
    @include useHovered-info-indicator();
  }
}

.more-details-btn {
  $color: rgba(2, 29, 80, 0.85);
  display: block;
  padding: 0.5rem 0.7rem;
  background-color: $color;
  border: 1px solid lighten($color, 1%);
  box-shadow: 0 0 0.5rem 0.02rem darken($color, 90%);

  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  font-family: v.$primary_font;
  &:hover {
    background-color: rgba(darken($color, 5%), 90%);
  }
}

.candidate-figure {
  &__top-details {
    width: 13.875rem;
    height: 14.375rem;
    position: relative;
  }
  &__picture {
    @extend %radius-6rem;
    @extend %full-size;
    object-fit: cover;
  }
}

.candidate-description {
  @include useFlexbox(column, $al: center, $jt: none);
  border-block-end: 1px solid #7e7c7c;

  &__skills {
    max-width: 13rem;
    font-size: 0.8rem;
    text-align: center;
    @extend %useEllipsisText;
  }
}

.vote-btn {
  align-self: center;
}
