@use './../variables' as v;
@use '../mixins/global-mixin' as *;

button {
  font-family: v.$secondary_font;
  font-weight: 600;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
  }
}

.btn {
  padding: 0.57rem 1rem;
  width: max-content;
  border-radius: 0.2rem;
  cursor: pointer;
  @include createButtonTheme(v.$primary_color);
}
