@use './../variables' as v;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.root {
  display: flex;
  align-items: stretch;
  height: 100%;
  background-color: #f9feff;
  font-family: v.$main_font;
  font-weight: 400;
  ::selection {
    background-color: #00209edb;
    color: #fff;
  }
}
