/* 
<div class="checkbox">
  <label class="checkbox__label">
    <div class="checkbox__input-container">
      <input tabindex="0" type="checkbox" class="hidden checkbox__input" />
      <span class="checkbox__checker"></span>
    </div>
    <span class="label-switch--txt"> Admin </span> <!--- this is optional  -->
  </label>
</div>
*/
@use '../common' as *;
@use '../../mixins/global-mixin' as *;
@use '../../variables' as v;

%useSameFlexbox {
  @include useFlexbox();
}

.checkbox {
  display: flex;
  position: relative;
  width: max-content;

  &__label {
    @extend %useSameFlexbox;
    gap: 0.5rem;
    cursor: pointer;
    position: relative;
    border-radius: 0.3rem;
  }
}

.checkbox__checker {
  @extend %useSameFlexbox;
  color: black;
  @include useSquareSize(1.6rem);

  &::before {
    content: '';
    transition: all 0.2s ease-in-out;
    @extend %useSameFlexbox;
    @include useSquareSize(100%);
    font-size: 2.3rem;
    border-radius: 3px;
    color: #eeef;
    font-family: 'Font Awesome 5 duotone';
    border: 2px solid rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    padding: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
  }

  &:hover::after {
    background-color: rgba(v.$primary_color, 0.11);
  }
}

.label-switch--txt {
  z-index: 1;
}

.checkbox__input:checked {
  & ~ .checkbox__checker {
    &::before {
      content: '\f14a';
      background-color: v.$primary_color;
      border-color: v.$primary_color;
    }
    &.partially-checked::before {
      content: '\f146';
    }
  }
}
