$main_font: 'Public Sans', sans-serif;
$secondary_font: 'Roboto', sans-serif;
$primary_color: #0026a5;
$light_secondary_color: rgba($primary_color, 0.1);
$light_gray: #e6e6e6;
$level_one_zindex: 100;
$modal_zindex: 200;
