*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.root {
  display: flex;
  align-items: stretch;
  height: 100%;
  background-color: #f9feff;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}
.root ::selection {
  background-color: #00209edb;
  color: #fff;
}

.candidate-row__overlay .info-indicator-wrapper, .candidate-row__overlay .info-indicator-wrapper .info-indicator, .candidate-card .info-indicator-wrapper, .candidate-card .info-indicator-wrapper .info-indicator {
  background-color: transparent;
}

.main-content-root, .left-side {
  scroll-behavior: smooth;
  scrollbar-color: #0010f2 #bfc3ff;
}
:is(.main-content-root, .left-side, .main-content-root *, .left-side *)::-webkit-scrollbar {
  width: 5px;
  background-color: #aab0ff;
  border: 1px solid #969dff;
}
:is(.main-content-root, .left-side, .main-content-root *, .left-side *)::-webkit-scrollbar-thumb {
  background: #00076d;
}

.btn-danger, .btn-warning, .btn-affirmative, .btn-secondary, .btn-primary, .tab-active {
  color: #e9e9e9;
  border: none;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
}

.btn {
  padding: 0.57rem 1rem;
  width: max-content;
  border-radius: 0.2rem;
  cursor: pointer;
}
.btn-primary, .tab-active {
  box-shadow: 0 0 0.1rem 0.01rem #000ba5;
  border: 1px solid #000ed8;
  background-color: #000ba5;
}
.btn-primary:hover, .tab-active:hover, .btn-primary:focus, .tab-active:focus {
  background-color: #000981;
}
.btn-primary:active, .tab-active:active {
  border-color: #3f4cff;
  opacity: 0.7;
}
.btn-primary:focus, .tab-active:focus {
  outline: 2px solid #727bff;
}
.btn-primary:focus:hover, .tab-active:focus:hover {
  outline: 2px solid #727bff;
  background-color: #000a9b;
}
.btn-primary:focus.btn-primary:focus, .tab-active:focus:focus {
  outline-color: #00a52c;
}
.btn-secondary {
  box-shadow: 0 0 0.1rem 0.01rem #008c6b;
  border: 1px solid #00bf92;
  background-color: #008c6b;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #006850;
}
.btn-secondary:active {
  border-color: #26ffcc;
  opacity: 0.7;
}
.btn-secondary:focus {
  outline: 2px solid #59ffd8;
}
.btn-secondary:focus:hover {
  outline: 2px solid #59ffd8;
  background-color: #008163;
}
.btn-secondary:focus.btn-primary:focus, .btn-secondary.tab-active:focus:focus {
  outline-color: #7e8c00;
}
.btn-affirmative {
  box-shadow: 0 0 0.1rem 0.01rem #00668c;
  border: 1px solid #008cbf;
  background-color: #00668c;
}
.btn-affirmative:hover, .btn-affirmative:focus {
  background-color: #004c68;
}
.btn-affirmative:active {
  border-color: #26c5ff;
  opacity: 0.7;
}
.btn-affirmative:focus {
  outline: 2px solid #59d3ff;
}
.btn-affirmative:focus:hover {
  outline: 2px solid #59d3ff;
  background-color: #005f81;
}
.btn-affirmative:focus.btn-primary:focus, .btn-affirmative.tab-active:focus:focus {
  outline-color: #388c00;
}
.btn-warning {
  box-shadow: 0 0 0.1rem 0.01rem #82008c;
  border: 1px solid #b200bf;
  background-color: #82008c;
}
.btn-warning:hover, .btn-warning:focus {
  background-color: #610068;
}
.btn-warning:active {
  border-color: #f126ff;
  opacity: 0.7;
}
.btn-warning:focus {
  outline: 2px solid #f459ff;
}
.btn-warning:focus:hover {
  outline: 2px solid #f459ff;
  background-color: #790081;
}
.btn-warning:focus.btn-primary:focus, .btn-warning.tab-active:focus:focus {
  outline-color: #00668c;
}
.btn-danger {
  box-shadow: 0 0 0.1rem 0.01rem #8c0009;
  border: 1px solid #bf000d;
  background-color: #8c0009;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #680007;
}
.btn-danger:active {
  border-color: #ff2634;
  opacity: 0.7;
}
.btn-danger:focus {
  outline: 2px solid #ff5964;
}
.btn-danger:focus:hover {
  outline: 2px solid #ff5964;
  background-color: #810009;
}
.btn-danger:focus.btn-primary:focus, .btn-danger.tab-active:focus:focus {
  outline-color: #25008c;
}

.left-side__header, .left-side {
  overflow: hidden;
  height: 100%;
}

.left-side-parent {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0);
  background-color: rgba(0, 1, 12, 0.4);
  transition: transform 250ms ease;
  z-index: -1;
}
.left-side-parent.on-top {
  z-index: 100;
}

.left-side {
  background-color: #f4fdff;
  flex: 0 0 17.5rem;
  width: 17.5rem;
  border-inline-end: 1px solid #e6e6e6;
  transition: transform 0.5s cubic-bezier(1, 0.68, 0, 1.1) 50ms;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.left-side__closed {
  transform: translate(-100%);
}
.left-side__header {
  position: relative;
  height: 100%;
  overflow: auto;
}
.left-side__site-logo-link, .left-side__title, .left-side__site-nav-link {
  padding-inline: 1.5rem;
}
.left-side__username-wrap, .left-side__site-logo-link {
  padding-block: 1.5rem;
}
.left-side__site-logo-link {
  position: relative;
  display: inline-flex;
  padding-block-end: 0;
}
.left-side__user-profil-link {
  font-size: 0.988rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 38, 165, 0.071);
  color: #2b2b2b;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  padding: 0.99rem;
}
.left-side__img-profil-wrapper {
  width: 2.5rem;
  height: 2.5rem;
}
.left-side__userprofil-pic {
  background-color: rgba(0, 38, 165, 0.2);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.site-nav__list {
  list-style-type: none;
}
.site-nav__link {
  display: flex;
  align-items: center;
  padding: 0.3rem 3rem;
  padding-block: 0.8rem;
  color: #4b4b4b;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  gap: 1rem;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 3rem;
}
.site-nav__link:hover {
  background-color: rgba(0, 11, 165, 0.1);
}
.site-nav__active-tab {
  color: #000ba5;
  border-color: transparent;
  background-color: rgba(0, 11, 165, 0.15);
}
.site-nav__active-tab::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #000ba5;
  width: 0.23rem;
  border-top-left-radius: 0.255rem;
  border-bottom-left-radius: 0.255rem;
}

@media screen and (min-width: 780px) {
  .burger-menu, .left-side, .left-side-parent {
    position: relative;
  }

  .left-side-parent {
    display: block;
    width: 17.5rem;
    background-color: transparent;
    z-index: 100;
  }

  .left-side {
    transform: translate(0);
    z-index: 100;
  }

  .burger-menu {
    width: 0;
    transform: translateY(-1000%);
  }
}
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  flex: 1 1 auto;
  background-color: #fffdfd;
  overflow: hidden;
  position: relative;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-width: 280px;
}

.main-content-root {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.top-navbar__btn, .top-navbar {
  padding: 0.5rem;
}

.main-page__navbar {
  display: flex;
  flex-direction: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #000ba505;
}

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
}
.top-navbar__btn {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #292929e3;
  border-radius: 50%;
  border-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.33rem;
  background-color: transparent;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.top-navbar__btn:hover {
  background-color: rgba(0, 11, 165, 0.1);
}

.profil-btn {
  width: 3.2rem;
  height: 3.2rem;
  position: relative;
  padding: 0;
  background-color: rgba(0, 11, 165, 0.1);
}

.lang-flag {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}

.lang-btn {
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 0.98rem;
}

.lang-drop-down {
  position: absolute;
  top: calc(100% + 0.7rem);
  left: -0.3rem;
  right: 0;
  bottom: 0;
  width: 8rem;
  z-index: 100;
  background-color: rgba(0, 11, 165, 0.53);
}

.lang-item, .lang-list {
  border-radius: 0.4375rem;
  display: flex;
  width: 100%;
}

.lang-list {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.4);
  flex-direction: column;
  background-color: #e6e6e6;
  list-style-type: none;
}

.lang-item {
  gap: 0.5rem;
  flex: 1;
  padding: 0.2rem;
  flex-basis: 2.5rem;
  align-items: stretch;
}
.lang-item:hover, .lang-item:focus {
  background-color: rgba(0, 11, 165, 0.13);
}

.lang-text {
  align-self: center;
}

.burger-menu {
  display: flex;
  flex-direction: 0;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(0);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.burger-menu__label {
  position: relative;
  display: block;
  width: 3em;
  padding-left: 0.3em;
  cursor: pointer;
}
.burger-menu__label::before, .burger-menu__label::after {
  display: block;
  height: 4px;
  background-color: #000ba5;
  transition: transform 0.5s ease-in-out;
  content: "";
}
.burger-menu__label::before {
  box-shadow: 0 10px 0 #001044;
}
.burger-menu__label:hover::before, .burger-menu__label:hover::after, .burger-menu__label:focus::before, .burger-menu__label:focus::after {
  background-color: #001044;
}
.burger-menu__label:hover::before {
  box-shadow: 0 10px 0 #000ba5;
}

.burger-menu__checkbox {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: -1;
  opacity: 0;
}
.burger-menu__checkbox:not(:checked) + .burger-menu__label::before {
  margin-bottom: 1em;
}
.burger-menu__checkbox:checked + .burger-menu__label::before {
  box-shadow: none;
  transform: translateY(0.1rem) rotate(495deg);
}
.burger-menu__checkbox:checked + .burger-menu__label::after {
  transform: translateY(-0.1rem) rotate(-495deg);
}

.left-side__oppened {
  transform: translateX(13rem);
  z-index: 100;
}
.left-side__oppened .burger-menu__label {
  padding: 1.5rem 0;
  z-index: 100;
}

.user-picture-img, .user-profil-thumb {
  border-radius: 50%;
  object-fit: contain;
}

.action-logout, .user-menu-card {
  border-radius: 0.6rem;
}

.user-figure, .user-menu-card {
  z-index: 100;
}

.action-logout, .user-name {
  text-align: center;
}

.user-profil-thumb {
  width: 100%;
  height: 100%;
  border: 1px solid #b5c2c2;
}

.action-item-link, .user-menu-card {
  background-color: #f2f2ff;
}

.user-menu-card {
  position: absolute;
  top: calc(100% + 0.6rem);
  right: 0;
  display: flex;
  flex-direction: column;
  width: 10rem;
  cursor: auto;
  min-width: 5rem;
  border: 1px solid rgba(14, 14, 14, 0.438);
  color: #0c0c0c;
  box-shadow: 0 0 5px #223344;
  font-size: 1rem;
  font-weight: 600;
}

.user-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-picture {
  display: flex;
  flex-direction: 0;
  justify-content: center;
  align-items: center;
  width: 7.6rem;
  height: 7.6rem;
  flex: 1;
  padding-block: 0.4rem;
}
.user-picture-img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.user-name {
  display: block;
  padding-block-start: 0.5rem;
  padding-inline: 0.2rem;
  background-color: rgba(0, 6, 89, 0.2);
  font-weight: bold;
  width: 100%;
  border-block-end: 3px solid rgba(0, 8, 114, 0.6);
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: flex-start;
  width: 100%;
  list-style-type: none;
  border-radius: 0 0 0.65rem 0.65rem;
  padding-block-start: 0.5rem;
}
.action-item {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.action-item-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.26em 0.5rem;
  text-decoration: none;
  text-align: start;
  color: #000b33;
}
.action-item-link:hover {
  background-color: #d0dafff8;
}
.action-logout {
  width: 90%;
  margin-block: 0.4rem 0.5rem;
  border: 1px solid #3f4d5e;
  align-self: center;
  justify-content: center;
}
.action-logout:hover {
  background-color: #faffbf;
}

.breadcrumb {
  display: flex;
  flex-direction: 0;
  justify-content: 0;
  align-items: center;
  padding: 0.5rem 0.3rem;
  background-color: rgba(0, 11, 165, 0.05);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.888rem;
  color: #344;
}
.breadcrumb__path {
  display: flex;
}
.breadcrumb__path:not(.active)::after {
  display: flex;
  flex-direction: 0;
  justify-content: center;
  align-items: center;
  content: ">";
  padding-inline: 0.5rem;
}

.candidate-cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1 1 100%;
}

.candidate-figure__picture, .candidate-card__figure, .candidate-card {
  border-radius: 0.6rem;
}

.candidate-figure__picture, .candidate-card__more-details {
  width: 100%;
  height: 100%;
}

.candidate-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 1.28rem;
  color: #222325;
  width: 15rem;
  flex: 0 0 15rem;
  background-color: #f5f7ff;
  border: 1px solid rgba(0, 11, 165, 0.2);
  box-shadow: 0 0 0.1rem 0.01rem rgba(0, 11, 165, 0.5);
  padding-block-end: 0.5rem;
}
.candidate-card__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: 0;
  padding: 0.5rem;
  flex: 1 0 100%;
}
.candidate-card__more-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 11, 165, 0.1);
  display: none;
  z-index: 11;
}
.candidate-card .info-indicator-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.candidate-card .info-indicator-wrapper .info-indicator {
  position: relative;
  top: 0.3rem;
  right: 0.3rem;
  color: #464646b1;
  border: none;
  font-size: 1.2rem;
}
.candidate-card:is(:hover, :focus) {
  box-shadow: 0 0 0.2rem 0.05rem #000ba5;
}
.candidate-card:is(:hover, :focus) .candidate-card__more-details {
  display: flex;
}
.candidate-card:is(:hover, :focus) .info-indicator {
  color: #111111;
}

.more-details-btn {
  display: block;
  padding: 0.5rem 0.7rem;
  background-color: rgba(2, 29, 80, 0.85);
  border: 1px solid rgba(2, 31, 85, 0.85);
  box-shadow: 0 0 0.5rem 0.02rem rgba(0, 0, 0, 0.85);
  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  font-family: "Public Sans", sans-serif;
}
.more-details-btn:hover {
  background-color: rgba(1, 20, 55, 0.9);
}

.candidate-figure__top-details {
  width: 13.875rem;
  height: 14.375rem;
  position: relative;
}
.candidate-figure__picture {
  object-fit: cover;
}

.candidate-description {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  border-block-end: 1px solid #7e7c7c;
}
.candidate-description__skills {
  max-width: 13rem;
  font-size: 0.8rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.vote-btn {
  align-self: center;
}

.candidate-full-details, .candidate-modal-profile__picture, .candidate-modal {
  border-radius: 0.5rem;
}

.candidate-modal__close-btn, .candidate-modal {
  padding: 1rem;
}

.candidate-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  transition: background-color 0.01s ease;
  background-color: rgba(0, 9, 140, 0.39);
}

.candidate-modal {
  display: inline-flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  position: relative;
  gap: 1rem;
  width: 90%;
  background-color: #e8fcff;
  color: #121313;
  overflow: auto;
}
.candidate-modal__close-btn {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  display: inline-flex;
  flex-direction: 0;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  box-shadow: 0 0 0.3rem 0.01rem rgba(0, 11, 165, 0.3);
  border: none;
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: #a9c7ffdb;
  color: #212121;
}
.candidate-modal__close-btn:hover {
  color: white;
  background-color: #00a573;
}

.candidate-modal-profile {
  max-width: 20rem;
  max-height: 25rem;
}
.candidate-modal-profile__picture {
  box-shadow: 0 0 0.26rem 0.01rem rgba(0, 11, 165, 0.7);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.candidate-full-details {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  box-shadow: 0 0 0.26rem 0.01rem rgba(0, 11, 165, 0.3);
  padding: 0.5rem;
  gap: 0.6rem;
  text-align: center;
  background-color: rgba(0, 11, 165, 0.15);
  line-height: 1.3rem;
}
.candidate-full-details__name {
  font-size: 1.5rem;
}
.candidate-full-details__skills {
  font-size: 0.729rem;
  color: #272830f5;
}
.candidate-full-details__bio {
  text-align: justify;
}

.list-candidates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  list-style-type: none;
  gap: 1rem;
}

.candidate-picture, .candidate-row__overlay, .candidate-row, .candidate-item {
  border-radius: 0.9375rem;
}

.candidate-item {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: transparent;
}

.candidate-row {
  display: flex;
  position: relative;
  gap: 0.75rem;
  padding: 0.5rem;
  background-color: #f2f2ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.candidate-row__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #bfc3ff;
  box-shadow: 0 0 1.5px 0.5px rgba(0, 8, 114, 0.3);
  background-color: rgba(0, 11, 165, 0.005);
  z-index: 1;
}
.candidate-row__overlay .info-indicator-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.candidate-row__overlay .info-indicator-wrapper .info-indicator {
  position: relative;
  top: 0.3rem;
  right: 0.3rem;
  color: #464646b1;
  border: none;
  font-size: 1.2rem;
}
.candidate-row__overlay:is(:hover, :focus) {
  box-shadow: 0 0 2.5px 1.5px rgba(0, 8, 114, 0.6);
  background-color: rgba(0, 11, 165, 0.05);
}
.candidate-row__overlay:is(:hover, :focus) .info-indicator {
  color: #111111;
}

.candidate-picture {
  display: flex;
  align-self: flex-start;
  max-width: 6.25rem;
  flex-basis: 6.25rem;
  clip-path: circle(50% at 50%);
}
.candidate-picture__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 600px) {
  .candidate-row {
    flex-direction: row;
    align-items: center;
  }
}
.chart-btn-tab-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  width: 50%;
  background-color: #f6fbff;
  border-radius: 5px;
  max-width: 39.4375rem;
  max-height: 26rem;
}

.btn-tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1px;
  flex: 1;
  width: 70%;
}

.btn-tab {
  flex: 1 0;
  padding: 0.9rem 1rem;
  border-radius: 0;
  border: none;
  font-size: 0.89rem;
}
.btn-tab:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn-tab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-content {
  background-color: #f7f7ff;
}

.user-management {
  font-size: 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5rem;
}
.user-management__description {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.users-types {
  margin-block: 2rem;
}
.users-types__tab-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.125rem;
}

.tab-btn:not(.tab-active) {
  background-color: transparent;
  border: none;
}
.tab-btn:not(.tab-active):active {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn {
  transition: background 100ms ease;
}
.btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-input, .user-research, .tab-window {
  border-radius: 0.45rem;
}

.users-table, .tab-window__row {
  background-color: white;
}

.tab-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  padding-block-end: 0.5rem;
}
.tab-window__row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(34, 51, 84, 0.26);
  padding: 0.5rem 0.6rem;
  width: 100%;
}
.tab-window__row:first-child {
  border-radius: 0.3125rem 0.3125rem 0 0;
}
.tab-window__row:last-child {
  border-radius: 0 0 0.3125rem 0.3125rem;
}

.user-research {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  border: 1px solid #adb5bb;
  width: 90%;
  margin-block: 0.5rem;
  display: flex;
}
.user-research:focus-within {
  outline: 2px solid #000ba5;
}

.search-icon {
  padding-inline: 0.4rem;
  font-size: 1.3rem;
}
.search-input {
  line-height: 2;
  font-size: 1rem;
  height: 100%;
  padding: 0rem 0.5rem;
  border: none;
  outline: none;
  flex: 1 1 auto;
}
.search-input::placeholder {
  font-size: 0.8rem;
  font-style: italic;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.88rem;
}
th,
td {
  padding: 0.6rem;
  line-height: 1.6rem;
  border-bottom: 1px solid rgba(34, 51, 84, 0.26);
}

.users-table__header .users-table__col {
  min-width: 3.625rem;
  text-transform: uppercase;
}
.users-table__col {
  position: relative;
  text-align: start;
}

.user-input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}
.user-input__checkbox {
  cursor: pointer;
  width: 1.3rem;
  height: 1.5rem;
  z-index: 1;
}
.user-input__bg {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  background-color: rgba(0, 11, 165, 0.2);
  border-radius: 50%;
  display: none;
}
.user-input__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.user-input:hover .user-input__bg {
  display: block;
}

.result__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.result__name__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  clip-path: circle(50% at 50% 50%);
  background-color: #fffede;
  flex-shrink: 0;
}
.result__name__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.result__name .user-fullname {
  width: max-content;
}

.has-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.bubble-container {
  position: relative;
  display: flex;
  list-style: none;
}

.bubble-item {
  position: relative;
  width: 2.1rem;
  height: 2.1rem;
  background-color: #fff;
  border-radius: 50%;
  animation: grow 1.2s ease-in-out infinite;
}
.bubble-item:nth-child(1) {
  animation-delay: -1.2s;
  background: #c00303;
  box-shadow: 0 0 1rem 0.2rem #c00303;
}
.bubble-item:nth-child(2) {
  animation-delay: -1s;
  background: #76ff03;
  box-shadow: 0 0 1rem 0.2rem #76ff03;
}
.bubble-item:nth-child(3) {
  animation-delay: -0.8s;
  background: #f06292;
  box-shadow: 0 0 1rem 0.2rem #f06292;
}
.bubble-item:nth-child(4) {
  animation-delay: -0.6s;
  background: #4fc3f7;
  box-shadow: 0 0 1rem 0.2rem #4fc3f7;
}
@keyframes grow {
  0%, 40%, 100% {
    transform: scale(0.4);
  }
  20% {
    transform: scale(1);
  }
}

.hidden {
  display: none;
}

.prevent-scroll {
  overflow: hidden;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
